<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/babus/Downloads/OrangeHrm_project/src/test/java/org/example/orangeHRM/TestOrangeHR_POM.java"><classes><class name="org.example.orangeHRM.TestOrangeHR_POM"><methods><include name="testAddAndVerifyEmployees"/></methods></class></classes></test></suite>